.fabrikForm{
	text-align:left;
}

.fabrikLabel{
	width:200px;
	float:left;
}

.fabirkElementContainer{
	margin-left:200px;
}

.fabrikElement{
	clear:both;
	padding:3px;
}

.fabrikForm h3{
	clear:both;
}

.fabrikError{
	color:#C34C4C;
	font-weight:bold;
	padding:7px 10px 7px 20px;
	background:transparent url(images/alert.png) no-repeat center left;
}

.isemail{
	background: transparent url(images/email.gif) no-repeat top right;
}

.notempty{
	background: transparent url(images/required.gif) no-repeat top right;
}

.isalphanumeric{
	background: transparent url(images/alphanumeric.gif) no-repeat top right;
}

.fabrikActions{
	padding-top:15px;
	clear:left;
	padding-bottom:15px;
}

.inputbox:focus{
	background-color:#ffffcc;
	border:1px solid #aaaaaa;
	padding:1px 1px 3px 1px;
}

.fabrikGroupRepeater{
	float:left;
	width:19%;
}

.fabrikSubGroupElements{
	width:80%;
	float:left;
}