/* 
* Horizontal Login-Form Style 
*/

#sl_horiz {
	height: 22px;
	width: 600px;
	margin-top: 17px;
	margin-left: 11px;
	float: left;
}

#sl_horiz #greeting {
	float: left;
	height: 22px;
	margin-right: 10px;
}

#sl_horiz .button {
	background-color: white;
	border: thin solid #d7d7d7;
	font-size: 100%;
	font-weight: normal;
	color: #888;
	height: 24px;
	line-height: 10px;
}

#sl_horiz #sl_username {
	background-image: url(user_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 22px;
	width: 177px;
	float: left;
}

#sl_horiz #sl_username input {
	padding: 2px 0 0 24px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	border: 0;
	background: none;
	font-weight: normal;
	color: #888;
}

#sl_horiz #sl_pass {
	background-image: url(pass_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 22px;
	width: 177px;
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_pass input {
	padding: 2px 0 0 24px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	border: 0;
	background: none;
	font-weight: normal;
	color: #777;
}

#sl_horiz #sl_rememberme {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_submitbutton {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_lostpass {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_lostname {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_register {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_posttext {
	margin-left: 10px;
	float: left;
}

/* 
* Vertical Login-Form Style 
*/

#sl_vert {
	/*font-weight: bold;
	font-size: 110%;*/
}

#sl_vert #greeting {
	text-align: center;
	float: none;
	height: 22px;
	margin-bottom: 10px;
}

#sl_vert .button {
	background-color: white;
	border: thin solid #d7d7d7;
	font-size: 100%;
	font-weight: normal;
	color: #888;
	height: 22px;
	line-height: 10px;
}

#sl_vert #sl_username {
	background-image: url(user_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 22px;
	width: 177px;
	margin-bottom: 5px;
}

#sl_vert #sl_username input {
	padding: 2px 0 0 24px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	border: 0;
	background: none;
	font-weight: normal;
	color: #777;
}

#sl_vert #sl_pass {
	background-image: url(pass_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 22px;
	width: 177px;
	margin-bottom: 10px;
}

#sl_vert #sl_pass input {
	padding: 2px 0 0 24px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	border: 0;
	background: none;
	font-weight: normal;
	color: #777;
}

#sl_vert #sl_rememberme {
	margin-bottom: 5px;
}

#sl_vert #sl_submitbutton {
	margin-bottom: 5px;
	text-align: center;
}

#sl_vert #sl_lostpass {
	margin-bottom: 5px;
}

#sl_vert #sl_lostname {
	margin-bottom: 5px;
}

#sl_vert #sl_register {
	margin-bottom: 5px;
}

#sl_vert #sl_posttext {
	margin-bottom: 5px;
}
