div.gk_tabmods {
	position: relative;
	}
div.gk_tabmods_wrap {
	margin: 0 auto;
}
div.gk_tabmodsmenu {
	overflow:hidden;
}
ul.gk_tabmodsmenu_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.gk_tabmodsmenu_ul li {
	float: left;
	cursor: pointer;
	margin: 0 3px -1px 0;
	border: 1px solid #ebebeb;
	border-bottom: none;
	position: relative;
	padding: 1px;
	padding-bottom: 0px;
}
ul.gk_tabmodsmenu_ul li span {
	background: url('../images/style1/bg_tab.png') repeat-x 0 0;
	display: block;
	height: 27px;
	line-height: 27px;
	padding: 0 10px;
	font-size: 10px;
	color: #666;
	text-transform:uppercase;
}
ul.gk_tabmodsmenu_ul li.active span {
	background: url('../images/style1/bg_tab-active.png') repeat-x 0 0;
	color: #aa2207;
}
div.gk_tabmods_container0 {
	clear: both;
	background: url('../images/style1/bg_content.png') repeat-x 0 0;
}
div.gk_tabmods_container1 {
	overflow: hidden;
	background: url('../images/style1/bg_content-bottom.png') repeat-x 0 100%;
}

div.gk_tabmods_item {
	float: left;
	overflow: hidden;
	padding: 10px;
}
div.gk_tabmods_button_next,
div.gk_tabmods_button_prev {
	width: 24px;
	height: 24px;
	background: url('../images/style1/b_next.png') no-repeat 0 0;
	cursor: pointer;
	position: absolute;
	top: 43%;
	right: 0;
}
div.gk_tabmods_button_prev {
	background: url('../images/style1/b_prev.png') no-repeat 0 0;
	left: 0;
	right:inherit;
}
div.gk_tabmods_button_next:hover {
	background: url('../images/style1/b_next.png') no-repeat 100% 0;
}
div.gk_tabmods_button_prev:hover {
	background: url('../images/style1/b_prev.png') no-repeat 100% 0;
}